<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centralisation</title>
    <meta
      name="description"
      content="Agrégateur de liens pour les étudiants de l'École Centrale de Lyon"
    />

    <!-- Give access to Google search console -->
    <meta
      name="google-site-verification"
      content="zr0xe6RJrvtDwccOO9guGDEK5dUHHZFdofchU6l2We4"
    />

    <link
      rel="icon"
      type="image/x-icon"
      href="assets/favicons/images/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicons/favicon-16x16.png"
    />

    <link rel="stylesheet" href="assets/stylesheets/reset.css" />

    <link rel="stylesheet" href="assets/stylesheets/small.css" />

    <link
      rel="stylesheet"
      media="only screen and (min-width: 600px)"
      href="assets/stylesheets/medium.css"
    />
    <link
      rel="stylesheet"
      media="only screen and (min-width: 1000px)"
      href="assets/stylesheets/large.css"
    />
    <link
      rel="stylesheet"
      media="only screen and (min-width: 1400px)"
      href="assets/stylesheets/extra-large.css"
    />

    <link rel="stylesheet" href="assets/stylesheets/light.css" />
    <link
      rel="stylesheet"
      media="(prefers-color-scheme: dark)"
      href="assets/stylesheets/dark.css"
    />
    <script
      defer
      data-domain="centralisation.eclair.ec-lyon.fr"
      src="https://plausible.eclair.ec-lyon.fr/js/script.outbound-links.js"
    ></script>
  </head>

  <body>
    <header>
      <h1>Centralisation</h1>
    </header>
    <div id="content">
      <div id="main-links">
        {% for category_name in main_page %}
        <h3>{{ category_name.name }}</h3>
        <div id="secondary-links" class="links-cluster">
          {% for link in category_name.children %}
          <div class="link">
            <div class="link-modal">
              <!-- Modal content -->
              <div class="modal-content">
                <button class="close-button">&times;</button>
                <div class="modal-header">
                  <h3>{{ link.name }}</h3>
                </div>
                <div class="modal-body">
                  <p>{{ link.description }}</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="go-out-button"
                    onclick="window.location='{{link.url}}'"
                  >
                    Visiter
                  </button>
                </div>
              </div>
            </div>
            <div class="link-box">
              <a class="link-clickable-region" href="{{link.url}}">
                <div class="link-icon">
                  <img src="assets/icons/{{ link.icon }}" alt="Icône de
                  {{link.name}}" {{ 'class=invert-on-dark' if "invert-on-dark"
                  in link and link["invert-on-dark"]}} />
                </div>
                <span class="link-text">{{ link.name }}</span>
              </a>
              <button class="link-information">i</button>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </body>
  <footer>
    <p>
      Imaginé et conçu par
      <a href="https://github.com/aeecleclair" rel="author"><i>ÉCLAIR</i></a>
    </p>
  </footer>
  <script>
    let links = document.getElementsByClassName("link");

    for (const link of links) {
      let link_information_btn = link.querySelector(".link-information");
      let link_modal = link.querySelector(".link-modal");
      let close_modal_btn = link_modal.querySelector(".close-button");

      // When the user clicks on the "i" button
      link_information_btn.onclick = function () {
        link_modal.style.display = "block";
      };

      // When the user clicks on <span> (x), close the modal
      close_modal_btn.onclick = function () {
        link_modal.style.display = "none";
      };

      // When the user clicks anywhere outside of the modal, close it
      link_modal.onclick = function (event) {
        if (event.target == link_modal) {
          link_modal.style.display = "none";
        }
      };
    }
  </script>
</html>
