<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralisation</title>
    <meta name="description" content="Agrégateur de liens pour les étudiants de l'École Centrale de Lyon" />

    <!-- Give access to Google search console -->
    <meta name="google-site-verification" content="zr0xe6RJrvtDwccOO9guGDEK5dUHHZFdofchU6l2We4" />

    <link rel="icon" type="image/x-icon" href="assets/favicons/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">

    <link rel="stylesheet" href="assets/stylesheets/light.css">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="assets/stylesheets/dark.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer data-domain="centralisation.eclair.ec-lyon.fr"
        src="https://plausible.eclair.ec-lyon.fr/js/script.outbound-links.js"></script>
</head>

<body>
    <header class="w-full" style="background-color: blue;">
        <h1>Centralisation</h1>
    </header>

    <div class="flex flex-col w-full">
        {% for category_name in links %}
        <h2 class="my-4" style="background-color: red;">{{ category_name }}</h2>
        <div class="px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            {% for link in links[category_name] %}

            <div class="links">

                <div
                    class="link-modal hidden fixed inset-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center">
                    <!-- Modal content -->
                    <div class="modal-content m-4 p-6 rounded-lg  text-center max-w-lg w-full relative">
                        <button class="close-button absolute top-2 right-2 w-10 h-10 rounded-full">&times;</button>
                        <div class="">
                            <h3>{{ link.name }}</h3>
                        </div>
                        <div class="my-4">
                            <p>{{ link.description }}</p>
                        </div>
                        <div class="modal-footer">
                            <button class="p-2 rounded-lg text-center" style="background-color: red;"
                                onclick="window.location='{{link.url}}'">Visiter</button>
                        </div>
                    </div>
                </div>

                <div class="flex rounded-lg items-center" style="background-color: red;">
                    <a class="flex flex-row items-center rounded-l-lg grow" style="background-color: blueviolet;"
                        href="{{link.url}}">
                        <div class="flex items-center justify-center w-20 h-20" style="background-color: blue;">
                            <img class="h-14 w-14" src="assets/icons/{{ link.icon }}" alt="Icône de {{link.name}}"
                                {{ 'class=invert-on-dark' if "invert-on-dark" in link and link["invert-on-dark"]}} />
                        </div>
                        <span class="flex-auto text-center">{{ link.name }}</span>
                    </a>
                    <button class="w-10 h-10 rounded-full mr-2 link-information"
                        style="background-color: pink;">i</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <footer>
        <p>Imaginé et conçu par <a href="https://github.com/aeecleclair" rel="author"><i>ÉCLAIR</i></a></p>
    </footer>

</body>

</html>