<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralisation</title>
    <meta name="description" content="Agrégateur de liens pour les étudiants de l'École Centrale de Lyon" />

    <!-- Give access to Google search console -->
    <meta name="google-site-verification" content="zr0xe6RJrvtDwccOO9guGDEK5dUHHZFdofchU6l2We4" />

    <link rel="icon" type="image/x-icon" href="assets/favicons/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <script defer data-domain="centralisation.eclair.ec-lyon.fr"
        src="https://plausible.eclair.ec-lyon.fr/js/script.outbound-links.js"></script>
</head>

<body style="font-family: 'Poppins', system-ui;" class="text-black dark:text-white bg-white dark:bg-neutral-800">
    <header class="w-full mb-4 bg-amber-500 dark:bg-amber-600">
        <h1 class="text-4xl md:text-5xl lg:text-6xl p-5 text-center">
            Centralisation</h1>
    </header>

    <div class="flex flex-col w-full p-3">
        {% for category_name in links %}
        <h2 class="text-2xl md:text-3xl lg:text-4xl">{{ category_name }}</h2>
        <div class="my-4 px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            {% for link in links[category_name] %}

            <div class="links">

                <div
                    class="z-50 link-modal hidden fixed inset-0 w-full h-full bg-black/50 flex justify-center items-center">
                    <!-- Modal content -->
                    <div
                        class="modal-content m-4 p-6 rounded-lg text-center max-w-lg w-full relative bg-slate-200 dark:bg-neutral-900">
                        <button
                            class="close-button absolute top-2 right-2 w-10 h-10 rounded-full bg-orange-400/50 dark:bg-amber-600/75 hover:bg-orange-400/75 dark:hover:bg-amber-600">&times;</button>
                        <div class="text-xl font-medium">
                            <h3>{{ link.name }}</h3>
                        </div>
                        <div class="my-4 text-justify leading-5">
                            <p>{{ link.description }}</p>
                        </div>
                        <div>
                            <button
                                class="py-2 px-8 rounded-lg text-center bg-amber-500 dark:bg-amber-600 hover:bg-amber-600 dark:hover:bg-amber-700"
                                onclick="window.location='{{link.url}}'">Visiter</button>
                        </div>
                    </div>
                </div>

                <div
                    class="flex rounded-lg items-center bg-slate-200 dark:bg-neutral-900 hover:bg-slate-300 dark:hover:bg-zinc-950">
                    <a class="flex flex-row items-center rounded-l-lg grow" href="{{link.url}}">
                        <div class="flex items-center justify-center w-20 h-20">
                            <img class="h-14 w-14 {{ 'dark:invert' if 'invert-on-dark' in link and link['invert-on-dark']}}"
                                src="assets/icons/{{ link.icon }}" alt="Icône de {{link.name}}" />
                        </div>
                        <span class="flex-auto text-center">{{ link.name }}</span>
                    </a>
                    <button
                        class="w-10 h-10 rounded-full mr-2 link-information bg-orange-400/50 dark:bg-amber-600/75 hover:bg-orange-400/75 dark:hover:bg-amber-600">i</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <footer class="text-center bg-amber-500 dark:bg-amber-600">
        <p class="text-lg">Imaginé et conçu par <a href="https://github.com/aeecleclair" rel="author"><i
                    class="italic underline font-medium">ÉCLAIR</i></a>
        </p>
    </footer>

</body>

<script>

    let links = document.getElementsByClassName("links")

    for (let link of links) {
        let link_information_btn = link.querySelector(".link-information")
        let link_modal = link.querySelector(".link-modal")
        let close_modal_btn = link_modal.querySelector(".close-button")

        // When the user clicks on the "i" button
        link_information_btn.onclick = function () {
            link_modal.classList.remove('hidden');
        }

        // When the user clicks on <span> (x), close the modal
        close_modal_btn.onclick = function () {
            link_modal.classList.add('hidden');
        }

        // When the user clicks anywhere outside of the modal, close it
        link_modal.onclick = function (event) {
            if (event.target == link_modal) {
                link_modal.classList.add('hidden');
            }
        }
    }
</script>


</html>